<hr>
<footer style="text-align: center; padding: 1rem; background-color: #121212; color: #e0e0e0;">
  🩸⚔️ <small>
    Esta wiki de <b>Berserk</b> ha sido creada con pasión, utilizando <a href="https://www.11ty.dev/" target="_blank" style="color: #cc0620; text-decoration: none;"><b><i>11ty</i></b></a> para su desarrollo.
  </small> ⚔️🩸
  <br>
  <small>Un agradecimiento especial a mi profesor <b>Jonathan Mircha</b> por su guía e inspiración. 🙌</small>
  <br>
  <small>© 2024 - Todos los derechos reservados.</small>
</footer>
