<nav class="navbar">
  <div class="container">
    <!-- Logo -->
    <a class="navbar-brand" href="/"><img src="/img/favicon.ico" alt="Berserk Logo" class="navbar-logo"></a>

    <!-- Menú -->
    <ul class="navbar-menu">
      <li><a href="/">Inicio</a></li>
      <li><a href="/acerca">Acerca</a></li>
      <li><a href="/blog">Blog</a></li>
    </ul>

    <!-- Barra de búsqueda -->
    <form class="search-form" action="/search" method="get">
      <input type="search" placeholder="Buscar..." name="query" required>
      <button type="submit">Buscar</button>
    </form>
  </div>
</nav>


