---
layout: layout-page.njk
title: Berserk Wiki - Página de Inicio
description: Explora el oscuro y épico mundo de Berserk, la obra maestra de Kentaro Miura.
---

  <link rel="stylesheet" href="/css/styles.css">


<p>
  Bienvenido a la <b>Berserk Wiki</b>, un portal dedicado a explorar cada rincón del mundo oscuro y brutal creado por <b>Kentaro Miura</b>. Aquí encontrarás información detallada sobre personajes, arcos, armas, y el profundo simbolismo detrás de esta legendaria serie.
</p>

<div style="display: flex; justify-content: center; align-items: center; gap: 2rem; margin: 2rem 0;">
  <img src="/img/iniciio.png" alt="Berserk Logo" style="width: 500px;">

</div>

<hr>

<h2 style="color: #ff4d4d;">Explora el Destino y la Condena</h2>
<p>
  Esta wiki está diseñada para ayudarte a sumergirte en las profundidades del universo de <b>Berserk</b>. Navega por los artículos para descubrir cómo el destino y la voluntad chocan en una lucha constante entre la luz y la oscuridad.
</p>


<p>
  ¡Que el <b>Beherit</b> guíe tu camino en este oscuro viaje!
</p>
